<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Let's Huff</title>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Let's Huff!</h1>
            <p class="lead">Don't Huff at work, while driving, or around small children! Save your Huffs for later!
            </p>
            <hr class="my-4">
            <p>Scrape Huffs. Savor the anticipation. Make anonymous notes. See what the community thinks. Enjoy sweet
                Huffs where appropriate.</p>
            <a class="btn btn-success btn-lg" href="/scrape" role="button">Scrape Fresh Huffs!</a>
            <a class="btn btn-success btn-lg" href="/" role="button">Take Me Home!</a>
        </div>
        {{{ body }}}
    </div>
</body>

</html>